<button (click)="open = true" [hidden]="open">
    <img *ngIf="q?.hint"
    src="/assets/icons/hint-icon.png"
    class="hint-icon" alt="ヒント">
</button>

<div *ngIf="open" class="hintwindow-overlay">
    <ng-container *ngIf="q as question">
        <div class="popup-card">
            <!-- カード：ヒントスペース -->
        <div class="card hint-card">
            <img src="/assets/icons/hint-icon.png" class="hint-icon" alt="ヒント">  
            <pre>{{ q.hint }}</pre>
        <!-- 閉じるボタン -->
        <button
        (click)="open = false"
        class="btn-close"
        (click)="onClose()"
    >
        <img src="/assets/icons/close-icon.png" class="close-icon" alt="閉じる">
    </button>  
        </div> 
    

</div>
