<div class="signup-wrapper">
    <header class="signup-header">
        <span class="logo-text">logo</span>
    </header>

    <div class="signup-content">
        <div class="form-group">
            <input 
                type="text" 
                class="input-box" 
                placeholder="Username"
            />
        </div>
        <div class="form-group">
            <input 
                type="email" 
                class="input-box" 
                placeholder="Email"
            />
        </div>
        <div class="form-group">
            <input 
                type="password" 
                class="input-box" 
                placeholder="Password"
            />
        </div>
        <div class="form-group">
            <input 
                type="password" 
                class="input-box" 
                placeholder="Confirm Password"
            />
        </div>

        <div class="form-group">
            <button class="btn-primary">登録</button>
        </div>

        <div class="link-group">
            <a class="link-login" href="login">ログイン画面に戻る</a>
        </div>
    </div>
</div>
