<div class="login-wrapper">
    <header class="login-header">
        <span class="logo-text">logo</span>
    </header>

    <div class="login-content">
        <div class="form-group">
            <input 
                type="email" 
                class="input-box" 
                placeholder="Email"
            />
        </div>
        <div class="form-group">
            <input 
                type="password" 
                class="input-box" 
                placeholder="Password"
            />
        </div>

        <hr class="divider" />

        <div class="form-group">
            <button class="btn-primary">ログイン</button>
        </div>

        <div class="form-group">
            <button class="btn-google">
                <span class="btn-google-icon">

                </span>
                Googleでログイン
            </button>
        </div>

            <!-- 区切り線 -->
    <hr class="divider" />

        <div class="link-group">
            <a class="link-guest" href="#">ゲストで始める</a>
            <a class="link-forget" href="#">パスワードをお忘れですか？</a>
            <a class="link-sign-up" href="signup">新規登録</a>
        </div>
    </div>
</div>
