  /* 選択肢カード */
  .choice-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 8px 0;
    display: block;
    align-items: center;
    cursor: pointer;
    width: 94%;
}

.choice-card:hover {
    background-color: #f9f9f9;
}
